# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.env/
.env.*

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Dataset
# ==========================
/data/

# ==========================
# Model Weights
# ==========================
weights/
*.pt
*.pth
*.onnx

# ==========================
# Logs
# ==========================
logs/
runs/
events.out.tfevents.*

# ==========================
# Outputs
# ==========================
outputs/

# ==========================
# Experiment Tracking
# ==========================
wandb/
mlruns/

# ==========================
# Cache
# ==========================
.cache/
.pytest_cache/
.mypy_cache/

# ==========================
# Databases
# ==========================
*.db
*.sqlite3

# ==========================
# Streamlit
# ==========================
.streamlit/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build Artifacts
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Numpy
# ==========================
*.npy
*.npz

# ==========================
# Docker
# ==========================
docker-compose.override.yml


sample.mp4